In [5]:
import pandas as pd

<img src="./lec28.png">

In [ ]:
# pip install openpyxl

In [6]:
# Excel形式のファイルを読み込めます。

dframe = pd.read_excel('Lec_28_test.xlsx', sheet_name='Sheet1')

In [7]:
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html