In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn
from pandas import DataFrame, Series

In [2]:
# 簡単なSeriesを作ってみましょう。

ser1 = Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
# reindexを使って、indexを変えられます。

ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [5]:
# 自動的に、nullが入ります。

ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
# 新しいindexの値を埋めることもできます。

ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [7]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0, 5, 10])

ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [8]:
# ffillは、forward fillの略です。

ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [9]:
# 行と列の両方について、Reindexを考えます。
# reshapeを使ってDataFrameを作ってみます。

dframe = DataFrame(randn(25).reshape((5, 5)),
                   index=['A', 'B', 'D', 'E', 'F'],
                   columns=['col1', 'col2', 'col3', 'col4', 'col5'])
dframe

       col1      col2      col3      col4      col5
A -0.394689  0.775715 -0.685962  0.898180 -0.336642
B  1.601712  0.474873 -0.100964 -2.110196  1.047559
D  0.128504 -1.183025  1.014986 -1.140111  0.232165
E -0.024032 -0.431801  1.940979  0.381737 -0.658447
F -0.113573 -0.050627 -1.344219  1.017869  0.181024

In [10]:
# Cを忘れました。
new_index = ['A', 'B', 'C', 'D', 'E', 'F']
dframe2 = dframe.reindex(new_index)
dframe2

       col1      col2      col3      col4      col5
A -0.394689  0.775715 -0.685962  0.898180 -0.336642
B  1.601712  0.474873 -0.100964 -2.110196  1.047559
C       NaN       NaN       NaN       NaN       NaN
D  0.128504 -1.183025  1.014986 -1.140111  0.232165
E -0.024032 -0.431801  1.940979  0.381737 -0.658447
F -0.113573 -0.050627 -1.344219  1.017869  0.181024

In [11]:
# 列にも同じような操作ができます。

new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.394689  0.775715 -0.685962  0.898180 -0.336642   NaN
B  1.601712  0.474873 -0.100964 -2.110196  1.047559   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.128504 -1.183025  1.014986 -1.140111  0.232165   NaN
E -0.024032 -0.431801  1.940979  0.381737 -0.658447   NaN
F -0.113573 -0.050627 -1.344219  1.017869  0.181024   NaN