In [8]:
import pandas as pd

In [9]:
# シンプルなテーブルを用意しましたので、こちらをご利用ください。

url = 'https://tsjshg.info/tables.html'

In [ ]:
# pip install beautifulsoup4
# pip install html5lib

In [10]:
# HTMLからデータを読み込み、tableをDataFrameにしてくれる。
# read_htmlがデフォルトではlxmlを利用しますが、html5libに切り替えます

dframe_list = pd.read_html(url, flavor="html5lib")

In [11]:
len(dframe_list)

2

In [12]:
# 最初のアイテムを取り出します。

dframe_list[0]

     名前   種類
0  いよかん  柑橘類
1  でこぽん  柑橘類
2    ヒレ   牛肉
3   ロース   牛肉

In [13]:
dframe_list[1]

        車種   メーカー
0      911   ポルシェ
1  718ケイマン   ポルシェ
2   ミュルザンヌ  ベントレー
3     ゴースト  ベントレー