In [1]:
import numpy as np
from pandas import DataFrame

In [2]:
# DataFrameを作ります。
dframe = DataFrame(np.arange(12).reshape((3, 4)),
                   index=['NY', 'LA', 'SF'],
                   columns=['A', 'B', 'C', 'D'])
dframe

    A  B   C   D
NY  0  1   2   3
LA  4  5   6   7
SF  8  9  10  11

In [3]:
str.lower('A')

'a'

In [4]:
# indexにmapメソッドがあります。

dframe.index.map(str.lower)

Index(['ny', 'la', 'sf'], dtype='object')

In [5]:
# これをそのまま、もとのindexに代入できます。

dframe.index = dframe.index.map(str.lower)
dframe

    A  B   C   D
ny  0  1   2   3
la  4  5   6   7
sf  8  9  10  11

In [6]:
str.title('udemy is good')

'Udemy Is Good'

In [7]:
# DataFrameにrenameというメソッドがあります。

dframe.rename(index=str.title, columns=str.lower)

    a  b   c   d
Ny  0  1   2   3
La  4  5   6   7
Sf  8  9  10  11

In [8]:
dframe

    A  B   C   D
ny  0  1   2   3
la  4  5   6   7
sf  8  9  10  11

In [9]:
# renameに辞書型を渡す事も可能です。

dframe.rename(index={'ny': 'NEW YORK'},
              columns={'A': 'ALPHA'})

          ALPHA  B   C   D
NEW YORK      0  1   2   3
la            4  5   6   7
sf            8  9  10  11

In [11]:
# 元のデータ自体を変更したいときは、inplace=Trueにします。

dframe.rename(index={'ny': 'NEW YORK'}, inplace=True)

In [12]:
dframe

          A  B   C   D
NEW YORK  0  1   2   3
la        4  5   6   7
sf        8  9  10  11