In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
dframe = DataFrame(np.arange(4 * 4).reshape((4, 4)))

# 0,1,2,3をpermutateしたarrayを取得します。
blender = np.random.permutation(4)

blender

array([1, 3, 2, 0])

In [4]:
dframe

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [5]:
# blenderをベースにして、行を入れ替えます

dframe.take(blender)

    0   1   2   3
1   4   5   6   7
3  12  13  14  15
2   8   9  10  11
0   0   1   2   3

In [6]:
# データを採りだして逐一戻す場合を考えてみましょう。

In [8]:
# 箱の中に、A,B,C というラベルの付いたビー玉があるとします。
box = np.array(['A', 'B', 'C'])

# ランダムにビー玉を取り出す操作を10回やってみましょう。
shaker = np.random.randint(0, len(box), size=10)

In [9]:
shaker

array([2, 1, 2, 2, 2, 2, 0, 1, 1, 2])

In [10]:
# 実際にはこのように使えます。
hand_grabs = box.take(shaker)
hand_grabs

array(['C', 'B', 'C', 'C', 'C', 'C', 'A', 'B', 'B', 'C'], dtype='<U1')