In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

<img src="split_apply_combine.jpeg" width="90%" />

In [2]:
dframe_wine = pd.read_csv('winequality-red.csv', sep=';')
dframe_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
def ranker(df):
    df['alc_content_rank'] = np.arange(len(df)) + 1
    return df

In [4]:
# アルコール度数で並べ替えます。
dframe_alc_rank = dframe_wine.sort_values('alcohol', ascending=False)

# groupbyのあと、先ほどの関数を適用します。
dframe_alc_rank = dframe_alc_rank.groupby('quality').apply(ranker)

In [5]:
dframe_alc_rank.head()

              fixed acidity  volatile acidity  citric acid  residual sugar
quality
3       899             8.3             1.020         0.02            3.40  \
        1299            7.6             1.580         0.00            2.10
        690             7.4             1.185         0.00            4.25
        1478            7.1             0.875         0.05            5.70
        1505            6.7             0.760         0.02            1.80

              chlorides  free sulfur dioxide  total sulfur dioxide  density
quality
3       899       0.084                  6.0                  11.0  0.99892  \
        1299      0.137                  5.0                   9.0  0.99476
        690       0.097                  5.0                  14.0  0.99660
        1478      0.082                  3.0                  14.0  0.99808
        1505      0.078                  6.0                  12.0  0.99600

                pH  sulphates  alcohol  quality  alc_content_rank
quality
3       899   3.48       0.49    11.00        3                 1
        1299  3.50       0.40    10.90        3                 2
        690   3.63       0.54    10.70        3                 3
        1478  3.40       0.52    10.20        3                 4
        1505  3.55       0.63     9.95        3                 5

In [6]:
# qualityごとの本数を計算します。

num_of_qual = dframe_alc_rank['quality'].value_counts()
num_of_qual

quality
5    681
6    638
7    199
4     53
8     18
3     10
Name: count, dtype: int64

In [7]:
# 行の名前と列にqualityがあるので、行の名前を変更

dframe_alc_rank.index = dframe_alc_rank.index.rename(['idx_quality', 'index'])

In [8]:
# それぞれのランクから、一番アルコール度数が高いワインを抽出します。

dframe_alc_rank[dframe_alc_rank['alc_content_rank'] == 1].sort_values('quality')

,,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,alc_content_rank
idx_quality,index,,,,,,,,,,,,,
3,899,8.3,1.02,0.02,3.4,0.084,6.0,11.0,0.99892,3.48,0.49,11.0,3,1
4,45,4.6,0.52,0.15,2.1,0.054,8.0,65.0,0.99340,3.90,0.56,13.1,4,1
5,652,15.9,0.36,0.65,7.5,0.096,22.0,71.0,0.99760,2.98,0.84,14.9,5,1
6,142,5.2,0.34,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.0,6,1
7,821,4.9,0.42,0.00,2.1,0.048,16.0,42.0,0.99154,3.71,0.74,14.0,7,1
8,588,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8,1