In [1]:
from pandas import DataFrame

In [2]:
# JSON (JavaScript Object Notation) のサンプル。

json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

In [3]:
# jsonモジュールをimport
import json

# JSON形式の文字列から、オブジェクトを作ります。
data = json.loads(json_obj)

In [4]:
data

{'zoo_animal': 'Lion',
 'food': ['Meat', 'Veggies', 'Honey'],
 'fur': 'Golden',
 'clothes': None,
 'diet': [{'zoo_animal': 'Gazelle', 'food': 'grass', 'fur': 'Brown'}]}

In [5]:
data['diet']

[{'zoo_animal': 'Gazelle', 'food': 'grass', 'fur': 'Brown'}]

In [6]:
# PythonのオブジェクトをJSON形式の文字列にすることもできます。

json.dumps(data)

'{"zoo_animal": "Lion", "food": ["Meat", "Veggies", "Honey"], "fur": "Golden", "clothes": null, "diet": [{"zoo_animal": "Gazelle", "food": "grass", "fur": "Brown"}]}'

In [7]:
# DataFrameと一緒にも使えます。

dframe = DataFrame(data['diet'])

In [8]:
dframe

  zoo_animal   food    fur
0    Gazelle  grass  Brown