In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [2]:
# CSVファイルをdataframeにできます。

dframe = pd.read_csv('lec25.csv')
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [3]:
# 1行目を列名にしたくないときは、

dframe = pd.read_csv('lec25.csv', header=None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [4]:
# read_tableというメソッドもあります

dframe = pd.read_table('lec25.csv', sep=',', header=None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [5]:
# 読み込む行数を指定することもできます。

pd.read_csv('lec25.csv', header=None, nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [6]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [7]:
# 保存も簡単です。

dframe.to_csv('mytextdata_out.csv')

In [8]:
#  出力を画面に出すために
import sys 

# sys.stdout（標準出力）へ直接書き込みます。
dframe.to_csv(sys.stdout, sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

In [9]:
# 出力する列を選択することもできます。

dframe.to_csv(sys.stdout, columns=[0, 1, 2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5

In [16]:
# Python標準のCSVモジュールにも目を通しておくとよいかもしれません。
# https://docs.python.org/ja/3/library/csv.html