In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [2]:
# 階層構造があるindexを作ることができます。

ser = Series(np.random.randn(6),
             index=[[1, 1, 1, 2, 2, 2],
                    ['a', 'b', 'c', 'a', 'b', 'c']])

In [4]:
# どうなっているか見てみましょう。
ser

1  a    1.573998
   b    0.567699
   c   -0.031681
2  a    0.645388
   b    0.466207
   c    0.938231
dtype: float64

In [6]:
# indexだけ表示してみます。
ser.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [8]:
# これを利用できます。
ser[1]

a    1.573998
b    0.567699
c   -0.031681
dtype: float64

In [10]:
ser[2]

a    0.645388
b    0.466207
c    0.938231
dtype: float64

In [12]:
ser

1  a    1.573998
   b    0.567699
   c   -0.031681
2  a    0.645388
   b    0.466207
   c    0.938231
dtype: float64

In [14]:
# 1つ下のレベルで指定することもできます。

ser[:, 'a']

1    1.573998
2    0.645388
dtype: float64

In [16]:
# このSeriesをもとに、DataFrameを作れます。

dframe = ser.unstack()
dframe

          a         b         c
1  1.573998  0.567699 -0.031681
2  0.645388  0.466207  0.938231

In [18]:
# 逆もできます。

dframe.T.unstack()

1  a    1.573998
   b    0.567699
   c   -0.031681
2  a    0.645388
   b    0.466207
   c    0.938231
dtype: float64

In [21]:
#  DataFrameにも階層的なindexを作れます。

dframe2 = DataFrame(np.arange(16).reshape(4, 4),
                    index=[['a', 'a', 'b', 'b'],
                           [1, 2, 1, 2]],
                    columns=[['NY', 'NY', 'LA', 'SF'],
                             ['cold', 'hot', 'hot', 'cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [22]:
# 階層的なindexに名前を付けられます。

# 行方向の名前
dframe2.index.names = ['INDEX_1', 'INDEX_2']
# 列方向の名前
dframe2.columns.names = ['Cities', 'Temp']
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [24]:
# 階層構造を逆にすることができます。今回は列方向で試します。
dframe2.swaplevel('Cities', 'Temp', axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [26]:
# indexをソートすることもできます。
dframe2.sort_index(level=1)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [28]:
# 下のレベルを先にすることもできます。

dframe2.sort_index(level=1).sort_index(level=0)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [30]:
# レベルに応じて計算も出来ます。

dframe2.groupby(level=1).sum()

Cities    NY      LA   SF
Temp    cold hot hot cold
INDEX_2
1          8  10  12   14
2         16  18  20   22