In [9]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [10]:
# 重複したデータを含むDataFrame

dframe = DataFrame({'key1': ['A'] * 2 + ['B'] * 3,
                    'key2': [2, 2, 2, 3, 3]})
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [11]:
# 重複したデータがあるかどうかがわかります。

dframe.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [12]:
# 重複した行を削除できます。

dframe.drop_duplicates()

  key1  key2
0    A     2
2    B     2
3    B     3

In [13]:
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [14]:
# 1つの列に注目して、重複を削除できます。

dframe.drop_duplicates(['key1'])

  key1  key2
0    A     2
2    B     2

In [15]:
# 元のデータです。

dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [16]:
# 最初の重複ではなく、最後のデータを残す事もできます。

dframe.drop_duplicates(['key1'], keep='last')

  key1  key2
1    A     2
4    B     3